@model Inventario.Models.BaseModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/metro")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/metro")
    @RenderSection("scripts", required: false)        
</head>
<body>

<div id="sidebar-left">
    <ul class="sidebar darcula" style="width: 200px; height: 100%; float: left;">
        <li><a href="#">
            <span class="mif-apps icon"></span>
            <span class="title">all items</span>
            <span class="counter">0</span>
        </a></li>
        <li><a href="#">
            <span class="mif-vpn-publ icon"></span>
            <span class="title">websites</span>
            <span class="counter">0</span>
        </a></li>
        <li class="active"><a href="#">
            <span class="mif-drive-eta icon"></span>
            <span class="title">Virtual machines</span>
            <span class="counter">0</span>
        </a></li>
        <li><a href="#">
            <span class="mif-cloud icon"></span>
            <span class="title">Cloud services</span>
            <span class="counter">0</span>
        </a></li>
        <li><a href="#">
            <span class="mif-database icon"></span>
            <span class="title">SQL Databases</span>
            <span class="counter">0</span>
        </a></li>
    </ul>
</div>

<div class="container body-content">
    @RenderBody()
    
</div>
</body>
</html>
