@using Inventario.Base.Enums
@model Inventario.Models.BaseModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton|Raleway" rel="stylesheet">
</head>
<body>
    

<header class="header-bar">
    <div class="header-title">
        <h3>@Model.CurrentProject</h3>
    </div>
    <div class="header-bar-menu-container">
        <ul id="header-bar-menu">
            
        </ul>
    </div>
</header>
    
<div class="sidebar">
    <div class="sidebar-header">
        <span class="company">Company</span>
        <div class="sub-header">
            <span class="title">Inventario</span>
        </div>
    </div>
    <div class="sidebar-items-container">
        <h4 class="label">Main</h4>
        <ul>
            <li class="active">Dashboard</li>
            <li class="droplink">                
                Operations                                    
                <ul>
                    <li>Add entities</li>
                    <li>Get entities</li>
                    <li>Collision</li>
                </ul>                
            </li>
            <li>Settings</li>
        </ul>
        <h5>All rights reserved. <br>Tyner©@DateTime.Now.Year</h5>
    </div>
</div>



<div class="container body-content">
    @RenderBody()

</div>
    
<script type="text/javascript">
    var Speed = 0.02;
    var Direction = [3, 3];

    var Object = $('.header-title');


    var iterations = 0;
    
    var x = 0, y = 0;
    var angle=0;
    function worker() {
        
        
        
            var backgroundPos = Object.css('backgroundPosition').split(" ");

            var xPos = backgroundPos[0];
            var yPos = backgroundPos[1];

            x += (Speed * Direction[0]);
            y += (Speed * Direction[1]);

            Object.css('backgroundPosition', x + "% " + y + "%");
            if (iterations > 0) {
                
                angle =  (Math.random() * (0.5 - (-0.5)) + (-0.5)) / 10;
                Direction[0] = Direction[0] * Math.cos(angle) - Direction[1] * Math.sin(angle);
                Direction[1] = Direction[0] * Math.sin(angle) + Direction[1] * Math.cos(angle);
            if (angle >= 1)
                angle = 0;
            if (angle <= -1)
                angle = -angle;
        } else {
            iterations = Math.random() * 100;
            
            x = 0;
            y = 0;
        }
    }



</script>

</body>
</html>
